body {
  background: blue;
 }

#box {
  margin: 150px 150px 150px 150px;
  border: black 6px solid;
 }

#thetext {
  font-family: Arial;
  color: red;
  padding: 8px;
  margin: 20px 20px 20px 20px;
  border: darkgreen 2px dashed;
}

#thesandwich{
  width: 15%;
  margin: 0px 0px 0px 0px;
  padding: 20px;
  border: #FFAA33 2px dashed;
}
