#wrapper{
  margin:0 auto;
  width: 1920px;
  margin-left: -8px;
}

#pageheader{
  background-color: red;
  margin:0 auto;
  text-align: center;
  color: white;
  height: 80px;
  padding: 5px;
}

#leftside{
  float:left;
  background-color: green;
  color: white;
  height: 700px;
  width: 1920px;
}

#footy{
  clear: both;
  float: left;
  color: white;
  background-color: blue;
  height: 100px;
  width: 1920px;
}
