#wrapper{
  margin:0 auto;
}

#pageheader{
  background-color: red;
  margin: 0 auto;
  text-align: center;
  color: white;
  height: 100px;
}

#leftside{
  background-color: green;
  color: white;
  height: 700px;
}
