body {
  background-color: #111111;
  margin: 0px;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

#Logo {
  height: auto;
  width: 320px;
}

#TopBackground {
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 610px;
}

#topnav ul{
  list-style-type: none;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

#topnav li{
  float: left;
}

#topnav a{
  padding: 10px;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
}

#topnav a:hover{
  background-color: hsl(0, 0%, 10%);
  color: maroon;
}

.navLink {
  margin-top: 0px;
  margin-right: 6px;
  margin-bottom: 12px;
  padding: 5px;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 150px;
  float: right;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  background-color: #111111;
}

.navLink:hover {
  background-color: hsl(0, 0%, 10%);
  color: maroon;
}

#time {
  float: right;
  color: white;
  font-family: "OptimusPrinceps", "Courier New", Courier, monospace;
  font-size: 100px;
  margin-top: -5px;
  margin-right: 10px;
}

#date {
  float: right;
  clear: right;
  color: white;
  font-family: "OptimusPrinceps", "Courier New", Courier, monospace;
  font-size: 30px;
  margin-top: -5px;
  margin-right: 10px;
}

#clearLt {
  clear: left;
}

table {
  width: 1000px;
  table-layout: fixed;
  color: white;
}

td {
  color: white;
  border: solid 1px white;
}

th {
  color: white;
  border: solid 1px white;
}


p {
  clear: left;
  color: white;
  border: solid 1px white;
  width: auto;
  padding: 10px;
}

h1, h2 {
  margin: 4px auto;
  font-family: "OptimusPrinceps", "Courier New", Courier, monospace;
  color: white;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
  color: maroon;
  clear: left;
}

h3 {
  font-family: "OptimusPrinceps", "Courier New", Courier, monospace;
  color: maroon;
  margin-bottom: -12px;
  margin-top: 20px;
  clear: left;
}

ul {
  font-weight: bold;
  color: white;
}

.imageborder {
  margin-right: 16px;
  margin-bottom: 16px;
  float: left;
  border: solid 4px white;
  position: relative;
  z-index: -1;
  width: 400px;
  height: 225px;
}

#theFooter {
  text-align: center;
  border-top: solid 2px white;
  height: 100px;
}

#theFooter p{
  width: auto;
  border: none;
  margin-top: 24px;
  margin-bottom: -10px;
  padding: 0px;
}

#theFooter a{
  text-align: center;
  color: gray;
  text-decoration: none;
  padding: 4px;
  margin-bottom: 10px;
}

#theFooter a:hover{
  background-color: hsl(0, 0%, 10%);
}
